
<div class="wrapper">
<h1><%="Vos événements:"%></h1>
<div class="cards">
    <%  @bookings.each do |booking| %>
    <div class="card">
      <div class="card-img" >
        <%= cl_image_tag booking.event.photo.key, height: 200, width: 300%>
      </div>
      <div class="card-info">
        <h5 class="card-title"><%= link_to booking.event.title, event_path(booking.event) %></h5>
        <p class="card-location"><%= booking.event.location %></p>
        <p class="card-date"><%= booking.event.start_date %> - <%= booking.event.end_date %></p>
      </div>
    </div>
    <% end %>
    </div>
    <%= link_to "Revenir à Go-Group", root_path, class: "btn btn-gradient" %>
</div>



