
<div class="wrapper">

  <h1 class="text-center m-3"><%="Je participe à"%></h1>

  <% if @bookings.empty? %>
    <div class="card-nothing">
      <p>Vous n'avez aucune activité d'enregistrée</p>
    </div>
  <% end %>

  <div class="cards-wrapper">
    <% @bookings.each do |booking| %>
      <div class="card">
      <%= link_to event_path(booking.event) do %>
        <div class="card-img" >
          <%= cl_image_tag booking.event.photo.key, height: 200, width: 300%>
        </div>
        <div class="card-info">
          <div class="date">
            <% if booking.event.start_date == booking.event.end_date %>
              <p>Le <%= booking.event.start_date.strftime("%d/%m/%G") %></p>
            <% else %>
              <p>Du <%= booking.event.start_date.strftime("%d/%m/%G") %> au <%= booking.event.end_date.strftime("%d/%m/%G") %></p>
            <% end %>
          </div>
          <h3 class="card-title no-link-deco"><%= booking.event.title %></h3>
          <% end %>
          <p class="card-location"><%= booking.event.location %></p>
          <span class="organizer">
            <%= cl_image_tag booking.event.user.photo.key, height: 50, width: 50, crop: :thumb, gravity: :face, class: "avatar" %>
            <p>Organisé par <br> <%= booking.event.user.username %></p>
          </span>

          <span class="card-icons">
            <i class="far fa-trash-alt" id="sweet-alert-demo"></i>
            <%= link_to "", booking_path(booking), method: :delete, id: "delete-link" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="simple-link ">
    <%= link_to "< Retour à Go-Group", root_path %>
  </div>
</div>



