<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Go Group</h1>
    <p>Bougez, Rencontrez</p>
  </div>
</div>



<div class="wrapper">

  <div class="cards">
    <% @events.each do |event| %>
      <div class="card">
        <div class="card-img" >
          <%= cl_image_tag event.photo.key, height: 200 , width: 300 %>
        </div>
        <div class="card-info">
          <h5 class="card-title"><%= link_to event.title, event_path(event) %></h5>
          <p class="card-location"><%= event.location %></p>
          <p class="card-date"><%= event.start_date %> - <%= event.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>

<div class="row d-flex justify-content-center mt-5 mb-5">
  <%= link_to "Add an Event", "#", class: "btn btn-gradient" %>
</div>

</div>



