<div class="wrapper">

  <h1 class="text-center m-3"><%="J'organise"%></h1>

  <% if @events.empty? %>
    <div class="card-nothing">
      <div class="row d-flex justify-content-center mt-5 mb-5">
        <%= link_to "Créer mon événement !", new_event_path, class: "btn-gradient" %>
      </div>
    </div>
  <% else %>

  <div class="cards-wrapper">
    <% @events.each do |event| %>
      <div class="card">
      <%= link_to event_path(event) do %>
        <div class="card-img">
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, height: 200, width: 300%>
          <% end %>
        </div>
        <div class="card-info">
          <div class="date">
            <% if event.start_date == event.end_date %>
              <p>Le <%= event.start_date.strftime("%d/%m/%G") %></p>
            <% else %>
              <p>Du <%= event.start_date.strftime("%d/%m/%G") %> au <%= event.end_date.strftime("%d/%m/%G") %></p>
            <% end %>
          </div>
          <h3 class="card-title no-link-deco"><%= event.title %></h3>
          <% end %>
          <p class="card-location"><%= event.location %></p>
          <span class="organizer">
            <%= cl_image_tag event.user.photo.key, height: 50, width: 50, crop: :thumb, gravity: :face, class: "avatar" %>
            <p>Organisé par <br> <%= event.user.username %></p>
          </span>
          <div>
            <% if event.bookings.empty? %>
              <p class="card-no-participant text-center">Pas encore de participants</p>
            <% else %>
              <p class='text-center participants-title'><strong>Participants</strong></p>
              <div class="card-participants">
                <% event.bookings.each do |booking| %>
                  <%= cl_image_tag booking.user.photo.key, height: 50, width: 50, crop: :thumb, gravity: :face, class: "avatar" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <span class="card-icons">
            <%= link_to edit_event_path(event), class: "left-icon" do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to event_path(event), method: :delete, data: { confirm: "ëtes-vous sûr de supprimer cette activité ?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>

  </div>
      <div class="row d-flex justify-content-center mt-5 mb-5">
      <%= link_to "Créer un autre événement !", new_event_path, class: "btn-gradient" %>
    </div>
     <% end %>
  <div class="simple-link ">
    <%= link_to "< Retour à Go-Group", root_path %>
  </div>
</div>
