<div class="wrapper">

  <h1 class="text-center m-3"><%="J'ai organisé"%></h1>

  <% if @events.empty? %>
    <div class="card-nothing">
      <p>Vous n'avez aucune activité d'enregistrée</p>
    </div>
  <% end %>

  <div class="cards-wrapper">
    <% @events.each do |event| %>
      <div class="card">
      <%= link_to event_path(event) do %>
        <div class="card-img" >
          <%= cl_image_tag event.photo.key, height: 200, width: 300%>
        </div>
        <div class="card-info">
          <div class="date">
            <% if event.start_date == event.end_date %>
              <p>Le <%= event.start_date.strftime("%d/%m/%G") %></p>
            <% else %>
              <p>Du <%= event.start_date.strftime("%d/%m/%G") %> au <%= event.end_date.strftime("%d/%m/%G") %></p>
            <% end %>
          </div>
          <h3 class="card-title no-link-deco"><%= event.title %></h3>
          <% end %>
          <p class="card-location"><%= event.location %></p>
          <span class="organizer">
            <%= cl_image_tag event.user.photo.key, height: 50, width: 50, crop: :thumb, gravity: :face, class: "avatar" %>
            <p>Organisé par <br> <%= event.user.username %></p>
          </span>
          <span class="garbage">
            <%= link_to edit_event_path(event) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to event_path(event), method: :delete, data: { confirm: "ëtes-vous sûr de supprimer cette activité ?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="simple-link ">
    <%= link_to "< Retour à Go-Group", root_path %>
  </div>
</div>