<div class="wrapper">

  <div class="head-summary">
    <% if @event.start_date == @event.end_date %>
      <p>Le <%= @event.start_date %></p>
    <% else %>
      <p>Du <%= @event.start_date %> au <%= @event.end_date %></p>
     <% end %>

     <h1><%= @event.title %></h1>

     <p>Organisé par <%= @event.user.username %></p>
  </div>

  <div class="global">

    <div class="main">
      <%= cl_image_tag @event.photo.key, height: 400, width: 700, crop: :fit %>
      <div class="details">
        <h2>Détails</h2>
        <p><%= @event.details %></p>
      </div>
    </div>

    <div class="side">
      <span>
        <i class="far fa-clock"></i>
        <% if @event.start_date == @event.end_date %>
          <p>Le <%= @event.start_date %></p>
        <% else %>
          <p>Du <%= @event.start_date %> au <%= @event.end_date %></p>
        <% end %>
      </span>
      <span>
        <i class="fas fa-map-marker-alt"></i>
        <p><%= @event.location %></p>
      </span>
      <img src="https://unsplash.com/photos/kZiiOgGeZ48" alt="">
    </div>

    <% if user_signed_in? %>
      <%= simple_form_for [ @event, @booking ] do |f| %>
        <%= f.submit "Participer !" %>
      <% end %>
    <% else %>
      <%= link_to "Log in ", new_user_session_path %>
    <% end %>
  </div>
</div>
