<div class="head-summary">
  <div class="wrapper">
    <div class="date">
      <% if @event.start_date == @event.end_date %>
        <p>Le <%= @event.start_date %></p>
      <% else %>
        <p>Du <%= @event.start_date %> au <%= @event.end_date %></p>
      <% end %>
    </div>

    <h1><%= @event.title %></h1>
    
    <span class="organizer">
      <%= cl_image_tag @event.user.photo.key, height: 50, width: 50, crop: :thumb, gravity: :face %>
      <p>Organisé par <br> <%= @event.user.username %></p>
    </span>
   </div>  
</div>

<div class="wrapper">
  <div class="global">

    <div class="main">
      <%= cl_image_tag @event.photo.key, height: 400, width: 600, crop: :fill %>
      <div class="details">
        <h2>Détails</h2>
        <p><%= @event.details %></p>
      </div>
    </div>

    <div class="side">
      <div class="side-text">
      <span class="side-items">
          <i class="far fa-clock"></i>
          <p>
            <% if @event.start_date == @event.end_date %>
              Le <%= @event.start_date %>
            <% else %>
              Du <%= @event.start_date %> au <%= @event.end_date %>
            <% end %>
          </p>
        </span>
        <span class="side-items">
          <i class="fas fa-map-marker-alt"></i>
          <p><%= @event.location %></p>
        </span>
      </div>
      <img src="https://images.unsplash.com/photo-1585129891066-83969119de8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80" alt="">
    </div>

    <div class="btn-gradient">
      <% if user_signed_in? %>
        <%= simple_form_for [ @event, @booking ] do |f| %>
          <%= f.submit "Participer !" %>
        <% end %>
      <% else %>
        <%= link_to "Log in ", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
